[importlinter]
root_package = grimp

[importlinter:contract:1]
name=Layered architecture
type=layers
containers =
    grimp
layers=
    main
    adaptors
    application
    domain
    exceptions
exhaustive = true
ignore_imports =
    ; Grimp doesn't understand extension modules: it thinks grimp._rustgrimp
    ; is an object within grimp, rather than a module in its own right,
    ; so we ignore these imports here.
    grimp.adaptors.caching -> grimp
    grimp.application.graph -> grimp
    grimp.adaptors.filesystem -> grimp
    grimp.application.scanning -> grimp
    grimp.application.usecases -> grimp
