[package]
name = "_rustgrimp"
version = "0.1.0"
edition = "2021"

[lib]
name = "_rustgrimp"
crate-type = ["cdylib", "rlib"]

[dependencies]
log = "0.4.19"
pyo3 = { version = "0.19.1", features = ["extension-module"] }
pyo3-log = "0.8.3"
serde_json = "1.0.103"

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]
