---
name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  tests:
    name: Python ${{ matrix.python-version }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        python-version: [
          "3.9", "3.10", "3.11", "3.12", "3.13-dev"
        ]
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - run: cargo test --no-default-features
        working-directory: ./rust

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -VV
          python -m site
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install --upgrade coverage[toml] tox tox-gh-actions

      - name: Run tox targets for ${{ matrix.python-version }}
        run: python -m tox

  benchmarks:
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@v3

        - uses: actions/setup-python@v4
          with:
            python-version: "3.13"
            allow-prereleases: true

        - name: Install dependencies
          run: |
            python -VV
            python -m site
            python -m pip install --upgrade pip setuptools wheel
            python -m pip install --upgrade tox tox-gh-actions          

        - name: Run benchmarks
          uses: CodSpeedHQ/action@v2
          with:
            token: ${{ secrets.CODSPEED_TOKEN }}
            run: tox -ecodspeed
